{% block content %}
<section style="position: absolute;top: 25%;left: 25%;justify-content: center; align-items: center;text-align: center; border: 2px; box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77); width: 400px; height: 400px;">
    <div style="color: white;background-color: black;">
        <h1> Obrigado pelo contato, {{ subscription.nome }}!</h1>
        <p> Um email foi enviado para sua caixa ({{ subscription.email }}) informando o sucesso da sua requisição de contato! </p>
        
        <p>Em breve retornarei o contato!</p>
    </div>
</section>
{% endblock content %}
