
{% block content %}
<style>
body{
  background-image:  url("../../../../staticfiles/wallpaperflare.com_wallpaper (1).jpg");
  background-repeat:no-repeat;
  background-size: cover;
}
  
</style>
<section>
    <div>
        <h1> Obrigado pelo contato, {{ subscription.nome }}!</h1>
        <p> Um email foi enviado para sua caixa informando ({{ subscription.email }}) o sucesso da sua requisição de contato! </p>
        
        <p>Em breve retornarei o contato!</p>
    </div>
</section>
{% endblock content %}
