{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="text-align: center;position: absolute;top: 25%;left: 25%;border: 2px; box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77); width: 400px; height: 400px;">
<form action="." method="post" style="color:white;">
    {% csrf_token %}
     <h1>Formulário de inscrição</h1>
    <p>
        <label for="{{ form.nome.id_for_label }}">{{ form.nome.label }}</label>
        {{ form.nome.errors }}
        {{ form.nome}}
    </p>
    <p>
        <label for="{{ form.CPF.id_for_label }}">{{ form.CPF.label }}</label>
        {{ form.CPF.errors }}
        {{ form.CPF}}
    </p>
    <p>
        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
        {{ form.email.errors }}
        {{ form.email}}
    </p>
    <p>
        <label for="{{ form.telefone.id_for_label }}">{{ form.telefone.label }}</label>
        {{ form.telefone.errors }}
        {{ form.telefone}}
    </p>
    <input type="submit" value = "Enviar!"/>
</form>
</div>
{% endblock content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    <style>
        .alert {
            padding: 0 15px;
            margin-bottom: 1rem;
            border: 1px solid transparent;
            border-radius: .25rem;
        }
        .alert p {
            padding: 7px 0 7px; 
        }
        .alert.success {
            color: #3c763d;
            background-color: #dff0d8;
            border-color: #d0e9c6;
        }
    </style>
</head>
<body>
    {% if messages %}
    {% for message in messages %}
    <div class="alert success">
        <p>
            {{message}}
        </p>
    </div>
    {% endfor %}
    {% endif %}
</body>
</html>
